@import 'elements.scss';

.main-title {
    max-width: 400px;
    margin-bottom: 96px;

    .title {
        font-family: Raleway;
        font-size: 26px;
        background: -webkit-linear-gradient(#24AFFF, #5CFFFF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 8px 0;
    }
    .description {
        font-size: 14px;
        color: white;
        font-weight: 300;
        margin: 4px 0;
    }
    .tema {
        color: $clr-secondary-1;
        font-weight: 700;
        font-style: italic;
    }
    .group_btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        gap: 6px;
        margin-top: 24px;

        .btn {
            width: 100%;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 768px) {
    .main-title {
        margin-bottom: 0;

        .title {
            font-size: 32px;
            margin: 12px 0;
        }
        .description {
            font-size: 16px;
        }
        .group_btn {
            display: flex;
            gap: 0;
            grid-gap: 0;
            margin-top: 28px;
    
            .btn {
                width: auto;
            }
            .btn:first-child{
                margin-right: 12px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main-title {
        max-width: 415px;

        .title {
            font-size: 34px;
            margin: 14px 0;
        }
        .description {
            font-size: 17px;
        }
        .group_btn {
            margin-top: 32px;
        }
    }
}

@media only screen and (min-width: 1220px) {
    .main-title {
        max-width: 450px;

        .title {
            font-size: 36px;
            margin: 16px 0;
        }
        .description {
            font-size: 18px;
        }
        .group_btn {
            margin-top: 36px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .main-title {
        max-width: 524px;
        
        .title {
            font-size: 40px;
            margin: 18px 0;
        }
        .description {
            font-size: 19px;
        }
        .group_btn {
            margin-top: 40px;
        }
    }
}

@media only screen and (min-width: 1920px) {
    .main-title {
        max-width: 580px;

        .title {
            font-size: 46px;
            margin: 20px 0;
        }
        .description {
            font-size: 20px;
        }
        .group_btn {
            margin-top: 48px;
        }
    }
}