@import 'elements.scss';
/*
    1. Title Primary
    2. Title Secondary
    ├─ Primary
    ├─ Secondary
    ├─ Purple
    ├─ Light
    ├─ Dark
    └─ Gradients
    3. Buttons
    ├─ Default
    ├─ Outline
    ├─ Color
    ├─ Size
    └─ Responsive
*/

/* -------------------------------------------------
   # Title Primary
----------------------------------------------------*/
.main-title {
    max-width: 400px;
    margin-bottom: 96px;

    .title {
        font-family: Raleway;
        font-size: 26px;
        background: -webkit-linear-gradient(#24AFFF, #5CFFFF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 8px 0;
    }
    .description {
        font-size: 14px;
        color: white;
        font-weight: 300;
        margin: 4px 0;
    }
    .tema {
        color: $clr-secondary-1;
        font-weight: 700;
        font-style: italic;
    }
    .group_btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        gap: 6px;
        margin-top: 24px;

        .btn {
            width: 100%;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 768px) {
    .main-title {
        margin-bottom: 0;

        .title {
            font-size: 32px;
            margin: 12px 0;
        }
        .description {
            font-size: 16px;
        }
        .group_btn {
            display: flex;
            gap: 0;
            grid-gap: 0;
            margin-top: 28px;
    
            .btn {
                width: auto;
            }
            .btn:first-child{
                margin-right: 12px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main-title {
        max-width: 415px;

        .title {
            font-size: 34px;
            margin: 14px 0;
        }
        .description {
            font-size: 17px;
        }
        .group_btn {
            margin-top: 32px;
        }
    }
}

@media only screen and (min-width: 1220px) {
    .main-title {
        max-width: 450px;

        .title {
            font-size: 36px;
            margin: 16px 0;
        }
        .description {
            font-size: 18px;
        }
        .group_btn {
            margin-top: 36px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .main-title {
        max-width: 524px;
        
        .title {
            font-size: 40px;
            margin: 18px 0;
        }
        .description {
            font-size: 19px;
        }
        .group_btn {
            margin-top: 40px;
        }
    }
}

@media only screen and (min-width: 1920px) {
    .main-title {
        max-width: 580px;

        .title {
            font-size: 46px;
            margin: 20px 0;
        }
        .description {
            font-size: 20px;
        }
        .group_btn {
            margin-top: 48px;
        }
    }
}





/* -------------------------------------------------
   # Title Secondary
----------------------------------------------------*/
.title-secondary {
    max-width: 340px;
    margin-bottom: 20px;

    // DESCRIPTOR
    .descriptor {
        // Font
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 4px 0;
        color: #1B1740;
    }
    // TITLE
    .title {
        // Font
        font-size: 22px;
        background: linear-gradient(145deg,#2461FF,#735CFF);
        background-clip: text;
        background: -webkit-linear-gradient(145deg,#2461FF,#735CFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        // Sizes
        margin: 0 0 8px 0;
    }
    // DESCRIPTION
    .description {
        font-size: 14px;
        color: #585C87;

        // Sizes
        margin: 0;
    }
}
.title-secondary.-lg {
    max-width: 360px;
}

@media only screen and (min-width: 410px) {
    // Clase específica para centrar el texto
    .title-secondary.-cen {
        .descriptor,
        .title,
        .description {
            text-align: center;
        }
    }
}
@media only screen and (min-width: 768px) {
    .title-secondary {
        max-width: 360px;
        margin-bottom: 20px;

        .descriptor { font-size: 11px; }
        .title { font-size: 24px; }
        .description { font-size: 15px; }
    }
    .title-secondary.-lg {
        max-width: 380px;
    }
}

@media only screen and (min-width: 1024px) {
    .title-secondary {
        max-width: 400px;
        margin-bottom: 28px;

        .title { font-size: 28px; }
        .description { font-size: 16px; }
    }
    .title-secondary.-lg {
        max-width: 420px;
    }
}

@media only screen and (min-width: 1220px) {
    .title-secondary {
        max-width: 430px;
        margin-bottom: 34px;

        .descriptor { font-size: 12px; }
        .title { font-size: 32px; }
        .description { font-size: 17px; }
    }
    .title-secondary.-lg {
        max-width: 450px;
    }
}

@media only screen and (min-width: 1440px) {
    .title-secondary {
        max-width: 455px;
        margin-bottom: 42px;

        .descriptor { font-size: 13px; }
        .title { font-size: 36px; }
        .description { font-size: 18px; }
    }
    .title-secondary.-lg {
        max-width: 475px;
    }
}

@media only screen and (min-width: 1920px) {
    .title-secondary {
        max-width: 520px;
        margin-bottom: 50px;

        .descriptor { font-size: 14px; }
        .title { font-size: 40px; }
        .description { font-size: 20px; }
    }
    .title-secondary.-lg {
        max-width: 590px;
    }
}

/* -------------------------------------------------
   # Benefits - Card
----------------------------------------------------*/
#beneficios {
    .card {
        padding: 16px 20px 16px 16px;
        display: flex;
        background: white;
        width: 100%;
        max-width: 380px;
        border-radius: 4px;
        gap: 6px;
        filter: drop-shadow(0 3px 8px rgba(24, 144, 255, 10%));

        img {
            width: 60px;
        }
        .content {
            display: flex;
            align-items: self-start;
            flex-direction: column;
            justify-content: center;
        }
        .title {
            font-size: 16px;
            color: #1B1740;
            margin: 0 0 2px 0;
        }
        .description {
            font-size: 12px;
            color: #8285A4;
            margin: 0;
        }
    }
}
@media only screen and (min-width: 768px) {
    #beneficios {
        .card {
            max-width: none;
        }
    }
}
@media only screen and (min-width: 1024px) {
    #beneficios {
        .card {
            padding: 18px;

            // Content
            .title { font-size: 17px; }
            .description { font-size: 13px; }
        }
    }
}
@media only screen and (min-width: 1440px) {
    #beneficios {
        .card {
            padding: 20px;
            
            .title { font-size: 18px; }
            .description { font-size: 14px; }
        }
    }
}

/* -------------------------------------------------
   # Miembros Hub - Card
----------------------------------------------------*/
#miembro-hub {
    // The Card
    .card-slider .card {
            width: 310px;
            padding: 25px 20px 20px;
            background: white;
            border-radius: 6px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: repeat(3, auto);
            position: relative;
            filter: drop-shadow(0 3px 8px rgba(24, 144, 255, 10%));
    }
    // The Content
    .card .title,
    .card .description,
    .card .descriptor { margin: 0; }
    .card {
        .title {
            font-size: 16px;
            color: #3B3F64;
            margin-bottom: 4px;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .description {
            font-size: 12px;
            color: #737799;
            margin-bottom: 12px;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .descriptor {
            font-size: 12px;
            color: #2B1178;
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .image-avatar {
            width: 240px;
            position: absolute;
            top: -320px;
            left: 35px;
        }
    }
    // Card active
    .card.active {
        background: $gradient-polar;

        .title       { color: white;   }
        .description { color: #B4C9FF; }
    }
}
// Screen size 768px
@media only screen and (min-width: 768px) {
    #miembro-hub {
        .card-slider .card {
            width: 580px;
            grid-template-columns: 270px 260px;
        }
        .card {
            .title { font-size: 18px; }
            .image-avatar {
                width: 260px;
                top: -160px;
                right: 0;
                grid-column: 2/3;
                grid-row: 1/4;
            }
        }
    }
}
// Screen size 1024px
@media only screen and (min-width: 1024px) {
    #miembro-hub {
        .card-slider .card {
            grid-template-columns: 300px 300px;
            padding: 25px;
            width: 624px;
            height: 230px;
        }
        // Content
        .card {
            .title { font-size: 20px; }
            .description,
            .descriptor  { font-size: 13px; }
            .image-avatar {
                width: 280px;
                top: -168px;
                left: 10px;
            }
        }
    }
}
// Screen size 1220px
@media only screen and (min-width: 1220px) {
    #miembro-hub {
        .card-slider .card {
            grid-template-columns: 360px 340px;
            padding: 35px;
            width: 704px;
            height: 230px;
        }
        .card {
            // Content
            .title { font-size: 22px; }
            .description,
            .descriptor  { font-size: 14px; }
            .image-avatar {
                top: -218px;
                width: 310px;
                left: 5px;
            }
        }
    }
}
// Screen size 1440px
@media only screen and (min-width: 1440px) {
    #miembro-hub {
        .card-slider .card {
            grid-template-columns: 385px 340px;
            width: 780px;
        }
        .card {
            // Content
            .title { font-size: 24px; }
            .description,
            .descriptor  { font-size: 14px; }
            .image-avatar {
                top: -245px;
                width: 330px;
                left: 20px;
            }
        }
    }
}
// Screen size 1920px
@media only screen and (min-width: 1920px) {
    #miembro-hub {
        .card-slider .card {
            grid-template-columns: 385px 340px;
            width: 850px;
        }
        .card {
            // Content
            .title { font-size: 28px; }
            .description,
            .descriptor  { font-size: 14px; }
            .image-avatar {
                top: -285px;
                width: 360px;
                left: 45px;
            }
        }
    }
}