@import 'elements.scss';

.heroSlider {
    width: 100%;
    height: 90vh;
    background: $clr-dark-3;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    // Controls
    // Animation
    @keyframes controllerAnimation {
        0% { width: 0%;   }
        100%   { width: 100%; }
    }

    .controls {
        position: absolute;
        bottom: 0;
        z-index: 3;
        display: flex;
        gap: 10px;
        margin-bottom: 48px;
    }
    .controller {
        width: 50px;
        padding: 8px 0;
        border-color: transparent;

        &:hover {
            filter: drop-shadow(0 4px 16px #735cff99);
            //cursor: pointer;

            &.controller--container{
                background: rgba(131, 113, 247,0.5);
            }
        }

        &.active .controller--slider {
            width: 0%;
            height: 100%;
            background: $clr-purple-3;
            opacity: 1;
            animation: controllerAnimation 4s 1 ease-in-out forwards;
        }
    }

    .controller--container {
        height: 4px;
        background: rgba(131, 113, 247,0.3);

        &:hover {
            filter: drop-shadow(0 4px 16px #725cff);
        }
    }

    // Contenedor
    .container {
        position: absolute;
        top: 0;
        z-index: 2;

        padding: 0 25px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        max-width: 1440px;
    }

    // Imagen del slider
    @keyframes transitionAnimation {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .img_background {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 520px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        z-index: 0;
        //transition: opacity 500ms;

        .slide{
            position: absolute;
            display: flex;
            justify-content: center;
            height: 100%;
            text-align: center;
            opacity: 0;
            transition: opacity 500ms;
        }
        .slide.active {
            opacity: 1;
            //animation: transitionAnimation 500ms ease-in-out forwards;
        }
        
    }

    // Degradados sobre fotografía
    .gradients {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 1;

        .no-gradient { background: $clr-dark-3; }

        .gradient {
            position: absolute;
            width: 100%;
            height: 520px;

            &.--1 { background: linear-gradient(90deg, #060d2480 0%, #060d2400 70%);  }
            &.--2 { background: linear-gradient(0deg, #060d24ff 0%, #060d2400 70%);   }
            &.--3 { background: linear-gradient(270deg, #060d2480 0%, #060d2400 70%); }
        }
    }
}

// Degradados sobre imagen
@media only screen and (min-width: 700px) {
    .heroSlider {
        .gradients {
            .gradient {
                &.--1 { background: linear-gradient( 90deg, #060d24ff 10%, #060d2400 70%); }
                &.--3 { background: linear-gradient(270deg, #060d24ff 10%, #060d2400 70%); }
            }
        }
    }
}

// Pantallas de 768px a 1023px
@media only screen and (min-width: 768px) {
    .heroSlider {
        height: 100vh;
        max-height: 560px;
        
        .container {
            justify-content: flex-start;
            align-items: center;
            padding: 0 40px;
        }
        .img_background {
            height: 100%;
            justify-content: flex-end;
            .slide {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .gradients {
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-template-areas: "num-1 num-2";

            .no-gradient { grid-area: num-1; }

            .gradient {
                height: 100%;
                grid-area: num-2;
                &.--3 { display: none; }
            }
        }
    }
}

// Pantallas de 1024px a 1219px
@media only screen and (min-width: 1024px) {
    .heroSlider {
        max-height: 580px;
        
        .container {
            padding: 0 50px;
        }
        .gradients { grid-template-columns: 1fr 2fr; }
    }
}

// Pantallas de 1220px a 1439px
@media only screen and (min-width: 1220px) {
    .heroSlider {
        max-height: 650px;
        
        .container {
            padding: 0 60px;
        }
    }
}

// Pantallas de 1440px a 1919px
@media only screen and (min-width: 1440px) {
    .heroSlider {
        max-height: 730px;
        
        .container {
            padding: 0 80px;
        }
        .controls {
            margin-bottom: 56px;
        }
    }
}

// Pantallas de 1920px en adelante
@media only screen and (min-width: 1920px) {
    .heroSlider {
        max-height: 974px;
        
        .container {
            padding: 0 30px;
        }
        .controls {
            margin-bottom: 64px;
        }
    }
}





/* -------------------------------------------------
   # NavBar - General
----------------------------------------------------*/
.heroSlider .navbar .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .icon-menu {width: 50px; justify-self: start;}
    .logo {justify-self: center;}
    .group-btn {justify-self: end;}
}
.navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 72px;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;

    .icon-menu {
        background: radial-gradient(circle, rgba(44,96,255,0) 0%, rgba(44,96,255,0) 70%);
        
        path {transition: 850ms;}
    }
    .icon-menu:hover {
        background: radial-gradient(circle, rgba(44,96,255,0.5) 0%, rgba(44,96,255,0) 70%);
    }
    .logo { height: 36px; }
    .links,
    .btn-cold,
    .btn-cold {
        display: none;
    }
    // Links
    .link {
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        color: #D4E3FF;
        margin-right: 16px;
    }
    .link:last-child { margin-right: 0;}
    .link:hover {
        color: #7BB8FF;
        filter: drop-shadow(0 0 6px rgba(47, 205, 255,0.3));
    }
    @keyframes line_1 {
        0%   { d: path("M15 32H25"); }
        20%  { d: path("M15 32H35"); }
        40%  { d: path("M34 32L35 32"); }
        100% { d: path("M25.5 25.5L17.5 17.5"); }
    }
    @keyframes line_2 {
        0%   { d: path("M15 25L35 25"); }
        20%  { d: path("M15 25L35 25"); }
        40%  { d: path("M15 25L35 25"); }
        100% { d: path("M17.4644 32.6067L32.5356 17.5355"); }
    }
    @keyframes line_3 {
        0%   { d: path("M25 18H35"); }
        20%  { d: path("M15 18L35 18"); }
        40%  { d: path("M15 18H16"); }
        100% { d: path("M32.571 32.5711L25.5 25.5"); }
    }
    &.active .icon-menu {
        #line_1 { animation: line_1 1500ms forwards; animation-direction: alternate;}
        #line_2 { animation: line_2 1500ms forwards; animation-direction: alternate;}
        #line_3 { animation: line_3 1500ms forwards; animation-direction: alternate;}
    }
    // https://css-tricks.com/animate-svg-path-changes-in-css/
}
/* -------------------------------------------------
   # Navbar - Mobile
----------------------------------------------------*/
.navbar-mb {
    $pad_size: 25px;

    position: absolute;
    display: none;
    width: 100%;
    z-index: 3;
    top: 80px;
    left: 0;
    max-width: 420px;

    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: unset;
        width: calc(100% - ($pad_size * 2));
        background: #101c42;
        height: auto;
        margin: 0 $pad_size;
        padding: $pad_size;
        border-radius: 8px;
    }
    // Links
    .links {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
    .link {
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        color: #D4E3FF;
        margin-bottom: 16px;
    }
    .link:hover {
        color: #7BB8FF;
        filter: drop-shadow(0 0 6px rgba(47, 205, 255,0.3));
    }
    // Buttons
    .group-btn {
        display: flex;
        justify-content: space-between;

        .btn-cold { width: calc(50% - 4px); }
    }
    // Icons
    .social {
        display: flex;
        margin-top: 24px;
        justify-content: center;
    }
    a.sm-icon {
        padding: 4px;
        display: inline-flex;
        margin-right: 5px;

        path {
            fill: white;
            transition: fill 1200ms ease-in-out;
        }
    }
    a.sm-icon:last-child { margin-right: 0;}
    a.sm-icon:hover {
        path {
            fill: #00FDFD;
            background-color: rgba(0, 253, 253, 0.5);
        }
    }
}
.navbar-mb.active {
    display: flex;
}
/* -------------------------------------------------
   # Navbar - Responsive
----------------------------------------------------*/
@media screen and (min-width: 768px) {
    .navbar {
        height: 76px;

        .logo {height: 40px;}
    }
}
@media screen and (min-width: 1024px) {
    .heroSlider .navbar .container {
        grid-template-columns: auto 1fr auto;

        .icon-menu {display: none;}
        .links {display: flex; margin-left: 24px;}
    }
    .navbar {
        height: 80px;

        .logo{height: 44px;}
    }
}
@media screen and (min-width: 1220px) {
    .navbar {
        height: 90px;
        
        .link {font-size: 14px;}
    }
}
@media screen and (min-width: 1440px) {
    .navbar {
        height: 100px;

        .logo{height: 48px;}
    }
}



/* -------------------------------------------------
   # Beneficios - Sección
----------------------------------------------------*/
#beneficios {
    display: flex;
    justify-content: center;
    padding: 60px 0 40px 0;
    background: #F6F9FF;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .benefit-cards {
        display: grid;
        gap: 16px;
        width: 100%;
        max-width: 480px;


        .card:nth-child(1),
        .card:nth-child(3),
        .card:nth-child(5) {
            justify-self: start;
        }

        .card:nth-child(2),
        .card:nth-child(4),
        .card:nth-child(6) {
            justify-self: end;
        }
    }
}

// Pantallas de 768px en adelante
@media only screen and (min-width: 768px) {
    #beneficios {
        padding: 80px 0 60px 0;

        .benefit-cards {
            max-width: 900px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            .card:nth-child(1){ grid-column: 1/6;  grid-row: 1/2; }
            .card:nth-child(2){ grid-column: 6/11; grid-row: 1/2; }
            .card:nth-child(3){ grid-column: 2/7;  grid-row: 2/3; }
            .card:nth-child(4){ grid-column: 7/12; grid-row: 2/3; }
            .card:nth-child(5){ grid-column: 1/6;  grid-row: 3/4; }
            .card:nth-child(6){ grid-column: 6/11; grid-row: 3/4; }
        }
    }
}
// Pantallas de 768px en adelante
@media only screen and (min-width: 768px) {
    #beneficios {
        padding: 100px 0 80px 0;

        .benefit-cards {
            max-width: 1040px;
        }
    }
}
// Pantallas de 1220px en adelante
@media only screen and (min-width: 1220px) {
    #beneficios {
        padding: 120px 0 80px 0;

        .benefit-cards {
            max-width: 1200px;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: 1fr 1fr;
            .card:nth-child(1){ grid-column: 1/4;  grid-row: 1/2; }
            .card:nth-child(2){ grid-column: 4/7;  grid-row: 1/2; }
            .card:nth-child(3){ grid-column: 7/10; grid-row: 1/2; }
            .card:nth-child(4){ grid-column: 2/5;  grid-row: 2/3; }
            .card:nth-child(5){ grid-column: 5/8;  grid-row: 2/3; }
            .card:nth-child(6){ grid-column: 8/11; grid-row: 2/3; }
        }
    }
}
// Pantallas de 144px en adelante
@media only screen and (min-width: 1440px) {
    #beneficios {
        padding: 160px 0 100px 0;

        .benefit-cards {
            max-width: 1440px;
        }
    }
}






/* -------------------------------------------------
   # Miembro Hub - Sección
----------------------------------------------------*/
#miembro-hub {
    padding: 60px 0 600px 0;
    display: flex;
    justify-content: center;
    background: #F6F9FF;

    .container {
        margin-right: 0;
        width: 100%;
    }
    .title-secondary {
        margin-bottom: 0;
    }
    .card-slider {
        gap: 12px;
        display: grid;
        grid-template-columns:
            auto auto auto auto;
        grid-template-areas:
            "card-1 card-2 card-3 card-4";
        width: calc(100% - 25px);
        padding-top: 320px;
        position: absolute;
        overflow-x: clip;
    }
    .group-btn { margin-top: 546px;}
    .card:nth-child(1) { grid-area: card-1; }
    .card:nth-child(2) { grid-area: card-2; }
    .card:nth-child(3) { grid-area: card-3; }
    .card:nth-child(4) { grid-area: card-4; }
}
// Pantallas de 768px en adelante
@media only screen and (min-width: 768px) {
    #miembro-hub {
        padding: 80px 0 300px 0;
        .card-slider {
            width: calc(100% - 40px);
            padding-top: 40px;
        }
        .group-btn {
            margin-top: 266px;
        }
    }
}
// Pantallas de 1024px en adelante
@media only screen and (min-width: 1024px) {
    #miembro-hub {
        padding: 100px 0 80px 0;

        .card-slider { width: calc(100% - 50px); }
        .group-btn { margin-top: 286px; }
    }
}
// Pantallas de 1220px en adelante
@media only screen and (min-width: 1220px) {
    #miembro-hub {
        padding: 120px 0 80px 0;

        .card-slider {
            width: calc(100% - 60px);
            padding-top: 70px;
        }
        .group-btn { margin-top: 316px;}
    }
}
// Pantallas de 1440px en adelante
@media only screen and (min-width: 1440px) {
    #miembro-hub {
        padding: 160px 0 100px 0;
        .card-slider {
            width: calc(100% - 80px);
            padding-top: 80px;
        }
        .group-btn { margin-top: 326px;}
    }
}
// Pantallas de 1600px en adelante
@media screen and (min-width: 1601px) {
    #miembro-hub {
        .container { margin-left: calc(100% - 1600px); }
        .card-slider { width: calc(100% - (100% - 1520px)); }
    }
}

/* -------------------------------------------------
   # Ventanas emergentes
----------------------------------------------------*/
#empezar {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    .close {
        color: red;
    }
}