*, html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
}

@import 'elements.scss',
        'components.scss',
        'layout';

body {
    margin: 0;
    width: 100%;
}