*, html {
    box-sizing: border-box;
    font-family: Montserrat;
}

@import 'elements.scss',
        'components.scss',
        'layout';

body {
    margin: 0;
    width: 100%;

    .containerr {
        margin: auto;
        width: 500px;
        height: 500px;
        padding: 50px;
    }
    .dark {
        background: $clr-dark-3;
    }
}

.content {
    height: 500px;
}